<div class="nav">
      <div class="div-block">
        <a href="{{ links.23 }}" class="w-inline-block">{%- image images.-2a485a80.url, images.-2a485a80.alt, '[{"max":10000,"size":"71px"}]', 'loading="lazy" width="71"' -%}</a>
      </div>
      <div class="right-nav">
        <div class="html-embed w-embed">
          <div class="uk-align-right uk-margin-remove-adjacent">
            <ul class="uk-subnav uk-subnav-pill" uk-switcher="">
              <li>
                <a href="{{ links.23 }}">New User</a>
              </li>
              <li>
                <a href="{{ links.23 }}">Reorder</a>
              </li>
              <li>
                <a href="{{ links.23 }}">Cart</a>
              </li>
            </ul>
            <ul class="uk-switcher uk-margin">
              <li>
                <a href="{{ links.23 }}" uk-switcher-item="2"> Switch to item 3</a>
              </li>
              <li>
                <a href="{{ links.23 }}" uk-switcher-item="next"> Next item</a>
              </li>
              <li>
                <a href="{{ links.23 }}" uk-switcher-item="previous"> Load Account</a>
                <div class="uk-align-right uk-margin-remove-adjacent">
                  <ul class="uk-iconnav">
                    <li>
                      <a href="{{ links.23 }}"><span uk-icon="icon: bag"></span> (2)</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="w-embed"><button class="uk-button uk-button-default" type="button">Account</button>
            <div class="uk-width-large" uk-dropdown="">
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid="">
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header">What You'll Need</li>
                    <li>
                      <a href="{{ links.23 }}">New User</a>
                    </li>
                    <li>
                      <a href="{{ links.23 }}">Reorder</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li>
                      <a href="{{ links.23 }}">Cart</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header">Resources</li>
                    <li>
                      <a href="{{ links.23 }}">Benefits</a>
                    </li>
                    <li>
                      <a href="{{ links.23 }}">FAQs</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li>
                      <a href="{{ links.23 }}">History</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>